/* Write your CSS code here */
.lst-itm-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
}
.lstitmupcont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.header {
  font-weight: bold;
}
.pubDate {
  color: #9aa5b1;
  font-weight: bold;
}
.description {
  color: #616e7c;
  font-weight: bold;
}
.hrline {
  border: 2px #616e7c solid;
  width: 100%;
}
