.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.profilelogo {
  width: 200px;
  height: 200px;
}
.upper-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}